
    <h1>My list of movies</h1>

    <%= cl_image_tag("samples/people/bicycle.jpg", width: 400, height: 300, crop: :fill) %>

    <%= link_to "Create a new list", new_list_path %>


    <% @lists.each do |list| %>

        <%= link_to list_path(list) do %>

            <%= list.name %>

        <% end %>

    <% end %>
